{% extends 'layouts/layout.html' %}

{% block content %}

<div class="row">
  <div class="col-12 col-md-10 col-lg-8 mx-auto p-5">
    <h1>Oшибка{% if code %} №{{ code }}{% endif %}</h1>
    <p>{{ description }}</p>
    <div>
      <a class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" href="{{ url_for('get_main_page') }}">На главную</a>
      <a class="btn btn-primary  btn-lg ms-3 px-5 text-uppercase mx-3" href="{{ url_for('get_urls') }}">К списку сайтов</a>
    </div>
  </div>
</div>

{% endblock %}
